{% extends "layout.html" %}
{% block body %}
  <form action="" method=post class="form-horizontal">
    <h2>Todo:</h2>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="title" name="title" class="input-xlarge"
            placeholder="describe your objective" value="{{ todo.title }}"
            required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <textarea name="text" rows=10 class="input-xlarge" placeholder="add more notes here&hellip;" required>{{ todo.text }}</textarea>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <span>Done</span> <input style='margin-left:10px;' type=checkbox name=done.{{ todo.id }}{{ " checked" if todo.done }}>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <a href="{{ url_for('index') }}">Cancel</a>
          <button style='position:relative;left:145px;' type="submit" class="btn btn-large btn-success">Save</button>
        </div>
    </div>
  </form>
{% endblock %}
